<!DOCTYPE html>
<html>
  <head>
    <title>FormGuide</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p title="Art"></p>
    <a href="https://www.smashingmagazine.com/2009/12/50-beautiful-watercolor-paintings/"><a>
      <img src="img/art.jpg">
    <%= yield %>
  </body>
</html>
